.container {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #007bff; /* Blue color */
}

h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  color: #28a745; /* Green color */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  color: #dc3545; /* Red color */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #6610f2; /* Purple color */
}
